{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-sm-3">
        {{ render (controller('AppBundle:Githut:profile', {'username': username })) }}
    </div>
    <div class="col-sm-9">
        {{ render (controller('AppBundle:Githut:repos', {'username': username })) }}

    </div>
{% endblock %}